.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: #00365E;
}

.content{
    height: 100%;
    width: 100%;
    background-color: #00365E;
    padding: 20px;
    padding-top: 100px;
}
.back{
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
}


input{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: 2px solid #00365E;
    border-radius: 3px;
}

select{
    width: 70px;
    height: 30px;
    border: 2px solid #00365E;
    border-radius: 3px;
    color: #00365E;
    border: 2px solid #00365E;
}

.inputs{
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: #00365E;
    font-weight: 600;
}

.inputs div{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.rapportage{
    width: 100%;
    height: 100%;
    min-height: 130px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 30px;
    align-items: center;
}

.rapportageButton {
    position: relative;
    left: 4%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.overzicht-content{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

strong {
    font-size: 20px;
    color: #00365E;
}
textarea{
    resize: vertical;
}
h1{
    position: relative;
    left: 4%;
    width: 90%;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}
h2{
    padding: 30px;
    padding-left: 40px;
}