@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Inter Tight", sans-serif;
}

body {
    font-family: "Inter Tight", sans-serif;
    background-color: #00365E !important;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.content{
    height: 100%;
    width: 100%;
    background-color: #00365E;
    padding: 20px;
    padding-top: 100px;
}

.overzicht{
    display: grid;
    background-color: rgb(240, 240, 240);
    height: 500px;
    align-items: center;
    width: 100%;
    padding-right: 55%;
}

.overzicht-content{
    padding: 10px;
}

.infotext{
    margin-bottom: 10px;
}

.infotext strong{
    display: inline-block;
    width: 100px;
    font-size: 20px;
    color: #00365E;
}

.infotext p{
    margin: 0;
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
}