body{
}

table {
    padding: 20px;
    border-radius: 10px;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}



.row1{
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}


.content{
    width: calc(100% - 200px);
    height: calc(100% - 80px);
    position: absolute;
    left: 200px;
    top: 80px;
    background: -moz-linear-gradient(to left top, #00365e, #456983);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*font-size: 100em;*/
}




/**/

* {
    box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

/**/