*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #00365e;
}

main{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
    width: 100%;
    background-color: #00365E;
}

form {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:20%;
    background-color:white;
    border-radius:10px;
}