.main{
    display: flex;
}

.data-content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 600px;
    margin-top: 80px;
}

.data {
    background-color: #c4c4c4;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 300px;
}

.client-content{
    width: 100%;
    background-color: #00365E;
    padding: 20px;
}

.client{
    width: 100%;
    overflow-y: auto;
}

.datakey {
    color: black;
}

.datavalue {
    gap: 10px;
    border-radius: 10px;
}