header {
    z-index: 2;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    background-color: #00365E;
}

.main-content{
    height: 100%;
    width: 100%;
    padding: 20px;
}

.users {
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 0;
}

.user {
    position: relative;
    margin-top: 1em;
    margin-left: 1em;
    float: left;
    background-color: #c4c4c4;
    height: 15em;
    width: 15em;
    border-radius: 25px;
    text-align: center;
}

.username {
    position: relative;
    top: 25px;
    color: black;
}

.img {
    position: absolute;
    top: 4em;
    left: 3.5em;
    border-radius: 10px;
}