* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00365e;
}

.main {
    display: flex;
    flex-direction: row;
}

.main2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    width: 100%;
}

.invulformulier {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.button {
    margin-top: 5%;
    padding:5%;
    border:none;
    color:white;
    border-radius:10px;
    cursor: pointer;
    background-color: #DD0069;
}

.invulformulier textarea{
    width: 250px;
    height:100px;
}

.img-flex {
    display:flex;
    flex-direction: column;
    align-items: center;
}