* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00365e;
}

.main {
    display: flex;
    flex-direction: row;
}

.main2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    width: 100%;
}

.invulformulier {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}