@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Inter Tight", sans-serif;
}

h1 {
    font-family: 'Inter Tight' , sans-serif;
    font-weight: lighter;
    color: #00365E;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
}

.card-body a img {
    position: relative;
    z-index: 10;
    display: block;
    margin: 0 auto;
}

.card-body form {
    position: relative;
    z-index: 1;
}