.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
    background-color: #00365E;
    padding: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-content {
    width: 60%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin:auto;
}

.form {
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    overflow: auto;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: #4CAF50;
    text-align: center;
}

.registration-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-preview {
    max-width: 150px;
    max-height: 150px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top:5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
}

.submit {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}

.label-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-content label {
    display:flex;
    flex-direction: row;
}

.registration-content label p {
    margin-right:5px;
}