.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.content{
    height: 100%;
    width: 100%;
    background-color: #00365E;
    padding: 20px;
    padding-top: 100px;
}

.form-content{
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.form{
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    overflow: auto;
}

.error {
    color:red;
    text-align: center;
}

.registration-content {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.img-preview {
    max-width: 150px;
    max-height: 150px;
}

.flex-column {
    display:flex;
    flex-direction: column;
    width: 50%;
}

.label-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}