.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.content{
    height: 100%;
    width: 100%;
    background-color: #00365E;
    padding: 20px;
    padding-top: 100px;
}

input{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: 2px solid #00365E;
    border-radius: 3px;
}

select{
    width: 70px;
    height: 30px;
    border: 2px solid #00365E;
    border-radius: 3px;
    color: #00365E;
    border: 2px solid #00365E;
}

.inputs{
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: #00365E;
    font-weight: 600;
}

.inputs div{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.overzicht {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Maak twee kolommen van gelijke breedte */
    grid-gap: 20px; /* Ruimte tussen de kolommen */
    background-color: rgb(240, 240, 240);
    height: 500px;
    align-items: center;
}

.overzicht-content {
    padding: 10px;
}

.text {
    margin-bottom: 10px;
}

.text strong {
    display: inline-block;
    width: 100px;
    font-size: 20px;
    color: #00365E;
}

.text p {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
}

.p2 {
    display: inline-block;
    margin-left: 7%;
    vertical-align: top;
}