@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Inter Tight", sans-serif;
}

body {
    font-family: "Inter Tight", sans-serif;
    background-color: #00365E !important;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.content{
    height: 100%;
    width: 100%;
    background-color: #00365E;
    padding: 20px;
    padding-top: 100px;
}

input{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: 2px solid #00365E;
    border-radius: 3px;
}

select{
    width: 70px;
    height: 30px;
    border: 2px solid #00365E;
    border-radius: 3px;
    color: #00365E;
    border: 2px solid #00365E;
}

.inputs{
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: #00365E;
    font-weight: 600;
}

.inputs div{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.overzicht{
    width: 100%;
    min-height: 130px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 20px;
    padding-left: 40px;
    align-items: center;
}

.overzicht-content{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

strong {
    font-size: 20px;
    color: #00365E;
}

.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;
    border-radius: 10px;

}

.card>.header{
    width: 100%;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    color: #00365E;
}

.card>.text{
    width: 100%;
    padding: 5px;
}


.content-2{

    height: 100%;
    width: 100%;
    background-color: #F3F4F8;
    padding: 20px;
border-radius: 25px
  }