.main{
    display: flex;
    flex-direction: row;
}

.main2{
    padding-top: 110px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    background-color: #00365E;
}

.main3{
    display:flex;
    flex-direction: column;
    background-color: white;
    height:97%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.header {
    display:flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:97%;
    text-align: center;
}

.content a {
    flex:0 0 50%;
    margin:auto;
}

.button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
    color:rgb(199, 199, 199);
}