.main{
    display: flex;
    flex-direction: row;
}

.main2{
    padding-top: 110px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    background-color: #00365E;
}

.main3{
    display:flex;
    flex-direction: column;
    background-color: white;
    height:97%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin:5px;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DD0069;
    margin:25px;
    margin-bottom: 0px !important;
    border-radius:10px;
    color:white;
}

.header a, .form-header .title {
    color:white !important;
}

.header a:hover {
    color:rgb(199, 199, 199) !important;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:97%;
    text-align: center;
    background-color: rgb(240, 240, 240);
    margin:25px;
    border-radius: 10px;
    color:#00365E !important;
}

.content a {
    flex:0 0 50%;
    margin:auto;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
    color:rgb(199, 199, 199);
}

.form {
    display:flex;
    margin:25px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    flex-direction: column;
    height:100%;
}

.question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:10px;
}

.question textarea {
    border: 2px solid #00365E;
    border-radius: 3px;
    resize: none;
    width: 30%;    
}